@model FilesManager.Models.Home.FilesViewModel


@{
    ViewBag.Title = "Início";
}

<form asp-controller="Home" asp-action="UploadFile" method="post"
      enctype="multipart/form-data">
    <br />

    <div class="row">
        <label>Upload de arquivos</label>
        <div class="file-field input-field">
            <div class="col s10">
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text"
                           placeholder="Nome do arquivo" disabled="disabled" />
                </div>
            </div>
            <div class="btn waves-effect indigo">
                <span> <i class="material-icons large">    add_circle</i></span>
                <input type="file" name="file" />
                <input type="hidden" name="folder" value="uploads" />
            </div>
            <button class="btn waves-effect indigo" type="submit" name="action">
                <i class="material-icons large">cloud_upload</i>
            </button>

        </div>
    </div>

</form>
<br />

<p class="text-success">@ViewBag.Message</p>

<table class="responsive-table">
    <thead>
        <tr>
            <th>Nome</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Files)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Download"
                       asp-route-blobName="@item.BlobName" asp-route-name="@item.Name">
                        <i class="material-icons">cloud_download</i>
                    </a>

                    <button data-name="@item.BlobName" class="btn-delete btn modal-trigger"><i class="material-icons">delete</i></button>
                    @*<a asp-action="Delete"
                           asp-route-blobName="@item.BlobName">
                            <i class="material-icons">delete</i>
                        </a>*@
                </td>
            </tr>
        }

    </tbody>
</table>

<br />
<br />
<div class="row section">
    <div class="col">
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
    </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Confirmação de exclusão</h4>
        <p>Deseja excluir o registro?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="waves-effect indigo btn modal-trigger">Cancelar</a>
        <a id="modal-btn-delete" href="#"
            class="waves-effect red darken-1 btn modal-trigger">
            <i class="material-icons">delete</i>
        </a>
        <a href="#!">Deletar</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>

    $('.btn-delete').on("click", function () {

        var containerMsg = $("<p></p>").text($(this).data("name"));

        $('.modal > .modal-content').append(containerMsg);
        $('.modal > .modal-footer > #modal-btn-delete').attr("href", "/Home/Delete?blobName=" + $(this).data("name"));
        $('.modal').modal('open');
    });

    $(document).ready(function () { 
        $('.modal').modal();
    });

</script>